[Unit]
Description=Simplified python service
After=olad.service

[Service]
Type=simple
Restart=always
User=www-data
Group=www-data
WorkingDirectory=/etc/fishtimer
ExecStart=/usr/local/bin/fishtimer.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
